###############################################################################
#
#	Settings File for Deed Set Generator
#
#
# Description:
#	This file contains various properties used throughout this program.
#	Each property has corresponding comments defining its purpose and
#	use.
#
#	Notes:
#		*	DO NOT change the names of the properties (i.e. the name/string
#			before the equals sign.
#
#		*	Be sure to READ THE COMMENTS before editing a property.
#
#		*	Be sure to used a double backslash in local path names.
#
#		*	All modification to this file when the program is executing
#			will be overwritten.
#
# Author: Dan Riedler
# Modified: 8-11-10
#
###############################################################################

!******************************************************************************
!	Workspace Path
!
!	This contains the path to where Deed Sets should be saved.
!
!
!******************************************************************************
WORKSPACE_PATH=.


!******************************************************************************
!	Recently Opened Projects
!
!******************************************************************************
last.project.count.max=10
last.project.0=C:\\Users\\Reed\\Programming\\wiiMouse_prj\\wiimouse\\app\\src\\FwImageGenerator\\test
