#daemon configuration
 telnet_port 4444
 gdb_port 3333

 
# tell gdb our flash memory map
# and eable flash programming

#gdb_memory_map enable
gdb_flash_program enable

 #interface
 interface ft2232
 ft2232_device_desc "Olimex OpenOCD JTAG TINY A"
 ft2232_layout "olimex-jtag"
 ft2232_vid_pid 0x15BA 0x0004
 jtag_speed 10
jtag_nsrst_delay 100
jtag_ntrst_delay 100

#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config trst_and_srst srst_pulls_trst

#jtag scan chain
#format L IRC IRCM IDCODE (Length, IR Capture, IR Capture Mask, IDCODE)
jtag_device 4 0x1 0xf 0xe
jtag_device 5 0x1 0x1 0x1e

daemon_startup reset
#run_and_halt_time 0 30

#target configuration
target cortex_m3 little reset_halt 0
#target cortex_m3 little run_and_halt 0

working_area 0 0x20000000 0x5000 nobackup

#flash configuration
#target_script 0 reset openocd_lpc2368_flash.script
#flash bank lpc2000 <base> <size> 0 0 0 <target#> <variant>
flash bank stm32x 0x08000000 0x20000 0 0 0

